extends layout

block carousel
  h1 #{title}
  form(method='POST', action='/add')
    #form-group
      label Titre:
      input.form-control(name='title', type='text')
    #form-group
      label Url:
      input.form-control(name='body', type='text')

    br
    input.btn.btn-primary(type='submit', value='Submit')
