extends layout

block edit

  - var data = #{data} || [{}]

  if errors
    ul.my-errors
      for error in errors
        li= error.msg
br
form(id="add-picture", method="POST", action="/images/edit", enctype="multipart/form-data")
  fieldset
    legend(class="text-success") Modifier une image
      br
      div(class="form-group")
        label(for="title") Titre
        if data.title
          input(type="text", class="form-control", id="title", name="title", aria-describedby="titleHelp", placeholder=data.title)
        else
          input(type="text", class="form-control", id="title", name="title", aria-describedby="titleHelp", placeholder="Saisissez le titre de votre photo.")
        small(id="titleHelp", class="form-text text-muted") Titre associé à votre photo.
      div(class="form-group")
        label(for="body") Photo à poster
        if data.body
          input(type="file", class="form-control", id="body", name="body", aria-describedby="bodyHelp", placeholder=data.body)
        else
          input(type="file", class="form-control", id="body", name="body", aria-describedby="bodyHelp", placeholder="Insérez votre photo.")
        small(id="bodyHelp", class="form-text text-muted") Zone d'insertion de photo.
      button(type="submit") Renvoyer
      br
            progess(id="progress", min="0", max="100", aria-valuemin="0", aria-valuemax="100")
            output(id="infos")

        script.
          var form = document.getElementById("add-picture");
          var progression = document.getElementById("progress");
          var infos = document.getElementById("infos");

          form.onsubmit = function(event){
            event.preventDefault();

            if(window.FormData){
              var fd = FormData();
            } else {
              alert("Format non supporté.");
              return;
            }

            var xhr = new XMLHttpRequest();

            xhr.open("POST", form.getAttribute("action"), true);

            xhr.onreadystatechange = function(event){
              if(this.readyState === 4){
                infos.innerHtml += event.target.responseText;
              }
            };

            xhr.onprogress = function(event){
              if(event.lengthComputable){
                var percent = Math.round(event.loaded * 100 / event.total);
                infos.innerHtml += percent.toString() + '%<br>';
                progress.setAttribute("aria-valuenow", percent);
                progress.value = percent;
              }
            };

            xhr.onload = function(event){
              infos.innerHtml += <p style="{color: green;}">Chargé</p>;
            };

            xhr.onerror = function(event){
              infos.innerHtml += <p style="{color: red;}">Erreur</p>;
            };

            xhr.onabort = function(event){
              infos.innerHtml += <p style="{color: orange;}">Annulé</p>
            };

            var inputPicture = document.getElementById(body);
            var picture = inputPicture.file;

            console.log(picture);

            infos.innerHtml += "Envoi de la photo " + picture.name + "...<br>";
            fd.append(inputPicture.name, picture);
            xhr.send(fd);
          }
